<!DOCTYPE html>
<html>
    <head>
        <title>
            
        </title>

    </head>
    <body>

        <table>
            <thead></thead>
            <tr>
              <th>ID</th>
              <th>Subject Name</th>
              <th>Teacher</th>
            </tr>
        </thead>
            <tbody>
              
            <tr>
                <%dataSubjects.forEach(function(subject){%>

              <td><%=subject.id%></td>
              <td><%=subject.subject_name%></td>
              <td>
                  <ol>
                      <%for(let i = 0; i < subject.Teachers.length;i++){%>
                        <li><%=subject.Teachers[i].fullName()%></li>
                      <%}%>
                  </ol>
              </td>
            </tr>
            <%})%>
        </tbody>

           
          <br>  
    </body>
</html>